<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>GDriveBackupTiger</string>
  <key>CFBundleIdentifier</key>
  <string>com.commcats.gdrivebackup.tiger</string>
  <key>CFBundleName</key>
  <string>GDrive Backup Tiger</string>
  <key>CFBundleDisplayName</key>
  <string>GDrive Backup Tiger</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>5</string>
  <key>CFBundleShortVersionString</key>
  <string>1.2.1</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
</dict>
</plist>
